.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-container > div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-left: 0.09rem solid var(--app-text-black);
  background: var(--app-white-background);
  display: flex;
  justify-content: center;
}

.header-container :first-child {
  border-radius: 1.5rem 0 0 1.5rem;
}

.header-container :last-child {
  border-radius: 0 1.5rem 1.5rem 0;
}

.header-container > div:hover {
  background: var(--app-background-hover);
}
