.App {
  width: 100%;
  height: 100%;
  background: var(--app-secondary-background);
}

:root {
  /* background */
  --app-main-background: #0f1035;
  --app-secondary-background: #365486;

  /* hover */
  --app-btn-hover: #b4d4ff;

  /* alerts */

  /* error */
  --app-error-message: #ff6868;

  /* border */

  /* text color */
  --app-text-comment-color: #f1f6f9;

  /* button */
  --app-primary-btn-color: #7fc7d9;

  /* disable */
  --app-disable-mute-gray: #dcf2f1;
}
